<select (change)="test()" [(ngModel)]="currLang">
  <option [value]="'en'">en</option>
  <option [value]="'tw'">tw</option>
</select>

<div>{{ 'HOME.TITLE' | translate }}</div>
<div>{{ 'HOME.WELCOME' | translate: { name: 'Allen' } }}</div>

<div><button (click)="test2()">send Taxid</button></div>
<div *ngFor="let i of businessData">
  <span style="color: {{ i.color }}">{{ i.ban }}</span>
  <span>{{ i.businessNm }}</span>
</div>
<div *ngFor="let i of errBusinessData">
  <span style="color: {{ i.color }}">{{ i.ban }}</span>
  <span>{{ i.businessNm }}</span>
</div>
<router-outlet></router-outlet>
